link(href="/f/css/slick.css", rel="stylesheet", type="text/css")
link(href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", rel="stylesheet", type="text/css")
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
link(href="/f/css/main.css", rel="stylesheet", type="text/css")

