script(src="/f/js/vendor/jquery.min.js")
script(src="/f/js/vendor/slick.min.js")
script(src="/f/js/vendor/jquery.mask.min.js")
script(src="/f/js/vendor/handlebars.min.js")
script(src="/f/js/vendor/jquery-ui.min.js")
script(src="/f/js/main.js")
script(src="/f/js/datePicker-order.js")
