section.b-brands
	.content-wrapper
		.b-brands__wrapper.js-brands-carousel
			each item in [1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8]
				.b-brands__slide(style="background-image:url('/f/img/brands/brand-" + item + ".jpg')")



