-
  var gCatalogMenu = [
  {
    name: 'Кухня',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    },
    {
      name: 'Аксессуары',
      link: '#'
    },
    {
      name: 'Аксессуары',
      link: '#'
    },
    {
      name: 'Аксессуары',
      link: '#'
    }
  ]
  },
  {
    name: 'Столовая',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    },
    {
      name: 'Для Вина',
      link: '#'
    },
    {
      name: 'Для Крепких Напитков',
      link: '#',
      list: [
      {
        name: 'Бокалы для виски',
        url: '#'
      },
      {
        name: 'Бокалы для вермута',
        url: '#'
      },
      {
        name: 'Графины для виски',
        url: '#'
      },
      {
        name: 'Сторки',
        url: '#'
      },
      {
        name: 'Формы для льда',
        url: '#'
      }
      ],
    },
    {
      name: 'Наборы',
      link: '#',
      list: [
      {
        name: 'Аксессуары',
        link: '#'
      },
    ]
    },
    {
      name: 'Для воды, лимонада и напитков',
      link: '#',
      list: [
      {
        name: 'Аксессуары',
        link: '#'
      }
    ]
    },
    {
      name: 'Для пива',
      link: '#',
    },
    {
      name: 'Игры',
      link: '#',
    },
  ]
  },
  {
    name: 'Спальня',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    }
    ]
  },
    {
    name: 'Ванна',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    }
    ]
  },
    {
    name: 'Декор',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    }
    ]
  },
    {
    name: 'Мебель',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    }
    ]
  },
  {
    name: 'Сад',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    }
  ]
  },
  {
    name: 'Новый год',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    }
  ]
  },
  {
    name: 'Распродажа',
    link: '#',
    list: [
    {
      name: 'Аксессуары',
      link: '#'
    },
      {
      name: 'Аксессуары',
      link: '#'
    }
  ]
  },
  ]
-;

nav.b-menu
  ul.b-catalog-menu
    each item in gCatalogMenu 
      +catalogMenuItem(item)