.b-pagination
  .b-paginator__wrapper
    .b-paginator-catalog__prev.is-disabled
      a(href="#" disabled="disabled") 
        img(src="/f/img/ico-arrow-pag.svg", alt="")
    .b-paginator__pages
      .b-paginator__number._active
        a(href="#") 1
      .b-paginator__number
        a(href="#") 2
      .b-paginator__number
        a(href="#") 3
      .b-paginator__number
        a(href="#") 4
      .b-paginator__number
        a(href="#") 5
    .b-paginator-catalog__next
      a(href="#") 
        img(src="/f/img/ico-arrow-pag.svg", alt="")
