-
	var locationShops = [
		{
			route: 'Как добраться:',	
			seats: 'г. Москва, ул. Б. Черемушкинская, д. 1',
			address:'address1',
			list: [
				{
					title: 'м. Крымская',
					info: 'МЦК(500 м. от метро) – переходите дорогу, далее через мост по направлению к ТРЦ «РИО», до светофора ( ориентир - слева напротив через дорогу ТЦ «Технопарк и «Ашан») и направо, мимо клиники «Семейный доктор», до «РИО». Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},{
					title: 'м.Академическая',
					info: '-Маршрутное такси: № 315 (выход из последнего вагона, из стеклянных дверей направо, после налево, ул 60 <br> - летия Октября)-Бесплатный автобус до ТРЦ РИО (выход из первого вагона, улица Дмитрия Ульянова) <br>.Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},{
					title: 'м.Тульская',
					info: '(выход из последнего вагона)<br>- Автобус: №826 (остановка «Севастопольский проспект, 12»)<br>- Маршрутное такси №826м (остановка «Севастопольский проспект, 12») <br> Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},{
					title: 'м. Нагорная',
					info: 'Бесплатный автобус до ТЦ «Технопарк» и «Ашана» - от ТЦ переходите дорогу к «РИО», мимо клиники «Семейный доктор», до «РИО». Вход в офис с торца здания, со стороны 5-й Загородный пр-д.',
					
				},{
					title: 'На личном транспорте:',
					info: 'Съезд с третьего транспортного кольца на Загородное шоссе, которое перетекает в Севастопольский проспект. ТРЦ «РИО» находится на пересечении Севастопольского проспекта и 5-го Загородного проезда.<br> Вход в офис с торца здания, со стороны 5-й Загородный пр-д.',
				},
			],
		},

		{
			route: 'Как добраться 2:',
			seats: 'г. Москва, ул. Б. Черемушкинская, д. 2',
			address:'address2',
			list: [
				{
					title: 'Крымская',
					info: 'МЦК(500 м. от метро) – переходите дорогу, далее через мост по направлению к ТРЦ «РИО», до светофора ( ориентир - слева напротив через дорогу ТЦ «Технопарк и «Ашан») и направо, мимо клиники «Семейный доктор», до «РИО». Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},{
					title: 'Академическая',
					info: '-Маршрутное такси: № 315 (выход из последнего вагона, из стеклянных дверей направо, после налево, ул 60 <br> - летия Октября)-Бесплатный автобус до ТРЦ РИО (выход из первого вагона, улица Дмитрия Ульянова) <br>.Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				}
			]
		},
		{
			route: 'Как добраться 3:',
			seats: 'г. Москва, ул. Б. Черемушкинская, д. 3',
			address:'address3',
			list: [
				{
					title: 'м. Крымская',
					info: 'МЦК(500 м. от метро) – переходите дорогу, далее через мост по направлению к ТРЦ «РИО», до светофора ( ориентир - слева напротив через дорогу ТЦ «Технопарк и «Ашан») и направо, мимо клиники «Семейный доктор», до «РИО». Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},{
					title: 'м.Академическая',
					info: '-Маршрутное такси: № 315 (выход из последнего вагона, из стеклянных дверей направо, после налево, ул 60 <br> - летия Октября)-Бесплатный автобус до ТРЦ РИО (выход из первого вагона, улица Дмитрия Ульянова) <br>.Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				}
			]
		},
		{
			route: 'Как добраться 4:',
			seats: 'г. Москва, ул. Б. Черемушкинская, д. 4',
			address:'address4',
			list: [
				{
					title: 'м. Крымская',
					info: 'МЦК(500 м. от метро) – переходите дорогу, далее через мост по направлению к ТРЦ «РИО», до светофора ( ориентир - слева напротив через дорогу ТЦ «Технопарк и «Ашан») и направо, мимо клиники «Семейный доктор», до «РИО». Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},{
					title: 'м.Академическая',
					info: '-Маршрутное такси: № 315 (выход из последнего вагона, из стеклянных дверей направо, после налево, ул 60 <br> - летия Октября)-Бесплатный автобус до ТРЦ РИО (выход из первого вагона, улица Дмитрия Ульянова) <br>.Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},{
					title: 'м.Академическая',
					info: '-Маршрутное такси: № 315 (выход из последнего вагона, из стеклянных дверей направо, после налево, ул 60 <br> - летия Октября)-Бесплатный автобус до ТРЦ РИО (выход из первого вагона, улица Дмитрия Ульянова) <br>.Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				}
			]
		},
		{
			route: 'Как добраться 5:',
			seats: 'г. Москва, ул. Б. Черемушкинская, д. 5',
			address:'address5',
			list: [
				{
					title: 'м. Крымская',
					info: 'МЦК(500 м. от метро) – переходите дорогу, далее через мост по направлению к ТРЦ «РИО», до светофора ( ориентир - слева напротив через дорогу ТЦ «Технопарк и «Ашан») и направо, мимо клиники «Семейный доктор», до «РИО». Вход в офис с торца здания, со стороны 5-й Загородный пр-д.'
				},
			]
		},
	]
-;

.b-shop__location-wrap
	each item in locationShops
		.b-shop__location(data-address=""+item.address)
			h2.b-shop__location__title !{item.route}
			.b-shop__seats
				img(src="/f/img/icon-address-blue.svg", alt="alt") 
				a(href="#") !{item.seats}
			each i in item.list
				.b-shop__item
					.b-shop__item__title !{i.title}
					.b-shop__item__text !{i.info}