@import "components/variables"
@import "components/fonts"
@import "components/base"

//blocks
@import "_blocks/upblock"
@import "_blocks/fields"
@import "_blocks/carousel"
@import "_blocks/brands"
@import "_blocks/product-list"
@import "_blocks/promo-link"
@import "_blocks/breadcrumbs"
@import "_blocks/catalog-sort"
@import "_blocks/basket-list"
@import "_blocks/orders"
@import "_blocks/club-invite"
@import "_blocks/pagination"

//pages
@import "components/header"
@import "components/footer"
@import "components/index"
@import "components/catalog"
@import "components/product"
@import "components/basket"
@import "components/order"
@import "components/promo"
@import "components/profile"
@import "components/about"
@import "components/delivery"
@import "components/shops"
@import "components/thankyou"
@import "components/loyalty"
@import "components/contacts"
@import "components/kitchen"
@import "components/404"
@import "components/textpage"
@import "components/news"
@import "components/news-inner"
@import "components/main"
@import "components/inform"
@import "components/bonus"
