html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,em,img,b,u,i,ol,ul,li,form,label,table,tbody,tfoot,thead,tr,th,td,input,textarea,button
	margin 0
	padding 0
	border none medium
html, body
	font-family $MuseoR
	font-size 16px
	line-height 1.5
	background $baseBackground
	color $baseFont
html
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
img
	vertical-align bottom
	max-width: 100%
	
::-webkit-scrollbar
	@media $beforePhone
		width 10px
		height 5px
::-webkit-scrollbar-track
	@media $beforePhone
		box-shadow inset 0 0 5px #EEEEEE
::-webkit-scrollbar-thumb
	@media $beforePhone
		background-color #D6D6D6

*, *:focus, *:after, *:before
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)
	-moz-box-sizing border-box
	box-sizing border-box
	outline none
input, textarea
	font-family $MuseoR
	font-size 14px
	background none
	border none medium
	resize none
	box-shadow none
	color $baseFont
	&::placeholder
		font-family $MuseoR
		color $backFont
		text-overflow ellipsis
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
	-webkit-box-shadow: 0 0 0 30px white inset !important;
article,aside,footer,header,nav,section,canvas
	display block
ol, ul
	list-style none
a, button, input[type="submit"], input[type="button"], input[type="reset"], label
	border none medium
	outline none
	cursor pointer
	background none
	-webkit-text-decoration-skip objects
a, a:active
	text-decoration none
	color $linkFont
h1,h2,h3,h4,b,strong
	font-family $MuseoM
	font-weight normal
b,strong
	font-family $MuseocyrM
	font-weight bold
sub, sup
	font-size 75%
	line-height 0
	position relative
	vertical-align baseline
sub
	bottom -0.25em
sup
	top -0.5em
video
	display inline-block
svg:not(:root)
	overflow hidden

.page-container
	max-width 100%
	overflow hidden
	&__title
		padding 18px 0 40px
		@media $phone
			padding 10px 0 30px
	&__row
		display flex
		justify-content space-between
		&--last
			padding-bottom 113px
			@media $phone
				padding-bottom 63px
	&__column
		margin-bottom 35px
		&--x3
			width 23.8%
		&--x9
			width 74.6%
		@media $tablet
			&.tb-x4
				width 32.2666%
			&.tb-x8
				width 64.5333%
		@media $phone
			&.ph-x0
				width 0
			&.ph-x12
				width 100%
.content-wrapper
	max-width 1328px
	padding 0 40px
	margin 0 auto
	&--vh
		height 100%
	@media $tablet
		padding 0 20px
	@media $phone
		padding 0 15px /*17*/
.logo
	background url('../img/logo.svg') no-repeat center
	background-size: contain
	width 137px
	height 51px
h1
	font-family $MuseocyrM /*$ClarendonR*/
	font-size 33px
	line-height 1.2
	@media $phone
		font-size 26px
h2
	font-size 32px
	font-weight: 600
	@media $phone
		font-size 28px
.section
	margin: 30px 0
	&__title
		color $baseFont
		margin-bottom: 20px
	&__title-link:hover &__title
		color: $linkFont
.btn
	display: inline-block
	vertical-align: top
	background none
	color $linkFont
	border 1px solid $linkFont
	border-radius 3px
	padding 0 15px
	line-height 38px
	text-align center
	height 38px
	cursor pointer
	font-size: 14px
	min-width: 120px;
	&:hover
		background $linkFont
		color $white
	&--gray
		background $grey

.b-price_rub
	font-family 'rouble'
	padding 0 3px

.btn-page-up
	position: fixed
	bottom 40px
	right 40px
	width 40px
	height 40px
	font-size 0
	line-height 1
	border 1px solid $backFont
	border-radius 50%
	background $white
	z-index 3
	opacity 0
	cursor pointer
	pointer-events: none
	transition: opacity .2s linear
	@media $phone
		right 10px
	&.is-shown
		opacity 1
		pointer-events: all
	&:hover
		border-color $backFontHover
	&:after
		content ''
		position absolute
		left 12px
		top 15px
		transform rotate(135deg)
		width 15px
		height 15px
		border-left 2px solid $baseFont
		border-bottom 2px solid $baseFont

.color-grey
	color $check

body
	//background url('../img/tmp/Кулинпрная кухня.jpg') no-repeat center 82px
	padding-top: 141px
	@media $tablet
		padding-top: 40px
.header,.footer,.page-container
	//opacity 0.5
.page-container
	//height 3000px