.b-delivery
	&__wrapper
		padding 22px 0
		@media $desktop
			padding 0
	&__block
		line-height 1.74
		padding 38px 0 20px
		display none
		@media $phone
			padding-top 24px
		&.is-active
			display block
	&__content
		padding 17px 0
	&__title
		position relative
		font-size 18px
		line-height 1.34
		padding-left 53px
		min-height 36px
		display flex
		align-items center
		margin-bottom 45px
		@media $phone
			margin-bottom 24px
		&:after
			content attr(data-symbol)
			position absolute
			left 0
			top 0
			width 36px
			height 36px
			border-radius 50%
			background $linkFont
			text-align center
			font-size 18px
			line-height 36px
			color $white
		&--black:after
			background $baseFont
	&__text
		margin-bottom 49px
		p
			margin-bottom 26px
		ul
			list-style disc
			margin-left 16px
			margin-bottom 26px
			li
				line-height 1.4
				margin-bottom 5px

.b-delivery-tabs
	border-bottom 1px solid $specsGray
	@media $phone
		max-width calc(100% + 30px)
		overflow hidden
		overflow-x scroll
		margin 0 -15px
	&__move
		display flex
		@media $phone
			padding 0 15px
	&__item
		position relative
		font-family $MuseocyrR //$ClarendonR
		font-size 22px
		line-height 1.2
		padding 10px 0
		margin-right 42px
		cursor pointer
		white-space nowrap
		@media $phone
			font-size 18px
			margin-right 0
			padding-right 25px
		&--delivery
			padding-left 42px
			&:before
				content ''
				position absolute
				left 0
				top 14px
				width 29px
				height 19px
				background url('../img/icon-delivery.svg') no-repeat left top
		&--express
			padding-left 42px
			&:before
				content ''
				position absolute
				left 0
				top 10px
				width 24px
				height 24px
				background url('../img/icon-clock.svg') no-repeat left top
		&--pickup
			padding-left 42px
			&:before
				content ''
				position absolute
				left 0
				top 10px
				width 24px
				height 24px
				background url('../img/icon-marker.svg') no-repeat left top
		&:after
			content ''
			position absolute
			left 0
			right 0
			bottom -1px
			height 3px
			background transparent
			@media $phone
				right 25px
		&.is-active:after
			background $specsOrange









