@font-face
	font-family: 'museo_sans_cyrl300';
	src: url('../fonts/museosanscyrl-300.woff2') format('woff2'),
		url('../fonts/museosanscyrl-300.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'museo_sans_cyrl500';
	src: url('../fonts/museosanscyrl-500.woff2') format('woff2'),
		url('../fonts/museosanscyrl-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'clarendon_romanr';
	src: url('../fonts/playfairdisplay.woff2') format('woff2'),
		url('../fonts/playfairdisplay.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'museocyrl300';
	src: url('../fonts/museocyrl300.woff2') format('woff2'),
		url('../fonts/museocyrl300.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'museocyrl500';
	src: url('../fonts/museocyrl500.woff2') format('woff2'),
		url('../fonts/museocyrl500.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'montserratregular';
	src: url('../fonts/montserrat-regular.woff2') format('woff2'),
		url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'montserratmedium';
	src: url('../fonts/montserrat-medium.woff2') format('woff2'),
		url('../fonts/montserrat-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'montserratbold';
	src: url('../fonts/montserrat-bold.woff2') format('woff2'),
		url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'montserratsemibold';
	src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
		url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;


@font-face
	font-family: 'rouble';
	src: url('../fonts/rouble.woff2') format('woff2'),
		url('../fonts/rouble.woff') format('woff');
	font-weight: normal;
	font-style: normal;
