//fonts
//$MuseoT = 'museo_sans_cyrl100',Helvetica,Arial,sans-serif;
$MuseoR = 'museo_sans_cyrl300',Helvetica,Arial,sans-serif;
$MuseoM = 'museo_sans_cyrl500',Helvetica,Arial,sans-serif;
//$MuseoB = 'museo_sans_cyrl700',Helvetica,Arial,sans-serif;
//$MuseoSB = 'museo_sans_cyrl900',Helvetica,Arial,sans-serif;
//$ClarendonR = 'clarendon_romanr',Helvetica,Arial,sans-serif;

$MuseocyrR = 'museocyrl300',Helvetica,Arial,sans-serif;
$MuseocyrM = 'museocyrl500',Helvetica,Arial,sans-serif;

$MontserratR = 'montserratregular',Helvetica,Arial,sans-serif;
//$MontserratM = 'montserratmedium',Helvetica,Arial,sans-serif;
//$MontserratB = 'montserratbold',Helvetica,Arial,sans-serif;
$MontserratSB = 'montserratsemibold',Helvetica,Arial,sans-serif;


//resp
$desktop = 'screen and (max-width: 1320px)';
$tablet = 'screen and (max-width: 1023px)';
$phone = 'screen and (max-width: 767px)';
$phoneS = 'screen and (max-width: 374px)';

$afterPhoneS = 'screen and (max-width: 575px)';
$beforePhone = 'screen and (min-width: 768px)';

//color
$baseFont = #5E2F26;
$baseBackground = #FFFFFF;
$baseFontLight = #6D3939;
$blue = #6BADDF

$backFont = #DAD0C7;
$backFontHover = #af9793;

$backBackground = #ECECEC;

$linkFont = #4479BC;
$hoverFont = #4479BC;
$linkFontlight = #5686C3;
$linkFontDark =rgba(68, 121, 188, 0.5);

$white = #ffffff;
$black = #000000;

$orange = #F26832;
$orangeL =#EC8774
$orangeD = #F05622
$blue = #7CA1D0;
$grey = #C9A290;
$gray = #c4c4c4;
$brown = #4F4E51;
$yellow = #F3B757;
$green = #5DAC64;

$check = #D8D8D8;
$done = #F9F5F2;

$specsGray = #E2E2E2;
$specsGrey = #B5ABA2;
$specsOrange = #f27848;

$sub = #F6F2EE;
$subBorder = #CABCAF;
$subColor = #BBAD9E;
$subColorDark = #9E827D
$lightGrey = #FAF5F1;

$status_processed = #AE9C93;
$status_canceled = #C05A5A;
$status_completed = #81A785;

$select = rgba(94, 47, 38, 0.05)
$selectLight = rgba(94, 47, 38, 0.07)
$selectDark = rgba(94, 47, 38, 0.5)
$selectDarken = rgba(94, 47, 38, 0.4)

$tomato = rgba(#D70D00, 0.5)
$tomatoD = #DD7872
$borderLight = #F1EAE7