extends layouts/default

block pageVar
	-pageTitle = 'О копмании';

block content
	.page-container
		+breadcrumbs({path:[
			{title:'главная', href:'/html/main.html'},
			{title:'О компании', href:''}
		]})
		.content-wrapper
			.b-about-page
				.b-about-link
					div.active
						a(href="#") О компании
					div
						a(href="#") Программа лояльности
					div
						a(href="#") Контакты
				.b-about-content
					h1.b-about-page__title Знакомьтесь, «Gooods House»!
					.b-about-page__subtitle Магазины для тех, кто любит свой дом!
					.b-about-page__img
					.b-about-page__text
						p 
						span.fw-bold Наша сеть магазинов существует уже более 10 лет!
						|  Формат магазинов "Goood's House" отличается новым, современным оформлением и более удобным зонированием пространства . Профиль компании представляют товарные направления «Домашний текстиль», «Посуда для уюта», «Декор и интерьер» и «Бытовой уголок». Вы сами выбираете цель визита: за полезным товаром, за покупкой для удовольствия, за подарком или за вдохновением.
						p На большой площади гипермаркетов разместились отделы текстиля, сантехники, электрики, инструментов, товаров для отдыха, бытовой химии, товаров для уборки дома, а также магазины сезонных товаров. Наши продавцы-консультанты помогут Вам найти интересующие товары для дома, представленные в торговом зале.
						p Мы вкладываем труд и душу, чтобы понять, что нужно другим людям, чтобы жить в счастливом Доме!
					.b-about-page__contacts.fw-bold ООО «Олтрейд»
					.b-about-page__adres
						.b-about-page__adres__row
							| Юридический и фактический  адрес:
							span.fw-bold  119415, г.Москва, Проспект Вернадского, д.37, корпус 1А
						.b-about-page__adres__row
							| ОГРН:
							span.fw-bold  1187746155728 
						.b-about-page__adres__row
							| ИНН / КПП:
							span.fw-bold  9729257314 / 772901001 
						.b-about-page__adres__row
							| Расчетный счет:
							span.fw-bold  40702810701300023641
						.b-about-page__adres__row
							| в АО «Альфа-Банк» <br> Корр. счет:
							span.fw-bold  30101810200000000593

						.b-about-page__offer-title Работа в gooodshouse
						.b-about-page__offer-box
							.b-about-page__wrapper
								.b-about-page__box.js-filter-block
									.b-about-page__box--title.js-filter-caption Работа в gooodshouse
									.b-about-page__box--inner
										.b-about-page__box--name Продавец-консультант
										.b-about-page__box--function Функционал:
										nav.b-about-page__box--list
											ul
												li Общение с покупателями, поддержание дружеской атмосферы
												li Обеспечение высокого уровня сервиса и продаж
												li Создание стильных образов, консультирование по коллекциям бренда
												li Работа в торговом зале, в примерочной и кассовой зонах
												li Поддерживание порядка в магазине
											a(href="#") оставить заявку

										.b-about-page__box--name Продавец-консультант
										.b-about-page__box--function Функционал:
										nav.b-about-page__box--list
											ul
												li Общение с покупателями, поддержание дружеской атмосферы
												li Обеспечение высокого уровня сервиса и продаж
												li Создание стильных образов, консультирование по коллекциям бренда
												li Работа в торговом зале, в примерочной и кассовой зонах
												li Поддерживание порядка в магазине
											a(href="#") оставить заявку

							.b-about-page__wrapper
								.b-about-page__box.js-filter-block
									.b-about-page__box--title.js-filter-caption Информация
									.b-about-page__box--inner
										.b-about-page__box--name Продавец-консультант
										.b-about-page__box--function Функционал:
										nav.b-about-page__box--list
											ul
												li Общение с покупателями, поддержание дружеской атмосферы
												li Обеспечение высокого уровня сервиса и продаж
												li Создание стильных образов, консультирование по коллекциям бренда
												li Работа в торговом зале, в примерочной и кассовой зонах
												li Поддерживание порядка в магазине
											a(href="#") оставить заявку

										.b-about-page__box--name Продавец-консультант
										.b-about-page__box--function Функционал:
										nav.b-about-page__box--list
											ul
												li Общение с покупателями, поддержание дружеской атмосферы
												li Обеспечение высокого уровня сервиса и продаж
												li Создание стильных образов, консультирование по коллекциям бренда
												li Работа в торговом зале, в примерочной и кассовой зонах
												li Поддерживание порядка в магазине
											a(href="#") оставить заявку

							.b-about-page__wrapper
									.b-about-page__box.js-filter-block
										.b-about-page__box--title.js-filter-caption Вакансии
										.b-about-page__box--inner
											.b-about-page__box--name Продавец-консультант
											.b-about-page__box--function Функционал:
											nav.b-about-page__box--list
												ul
													li Общение с покупателями, поддержание дружеской атмосферы
													li Обеспечение высокого уровня сервиса и продаж
													li Создание стильных образов, консультирование по коллекциям бренда
													li Работа в торговом зале, в примерочной и кассовой зонах
													li Поддерживание порядка в магазине
												a(href="#") оставить заявку

											.b-about-page__box--name Продавец-консультант
											.b-about-page__box--function Функционал:
											nav.b-about-page__box--list
												ul
													li Общение с покупателями, поддержание дружеской атмосферы
													li Обеспечение высокого уровня сервиса и продаж
													li Создание стильных образов, консультирование по коллекциям бренда
													li Работа в торговом зале, в примерочной и кассовой зонах
													li Поддерживание порядка в магазине
												a(href="#") оставить заявку