extends layouts/default

block pageVar
	-pageTitle = 'Список страниц';

block content
	.page-container
		.content-wrapper
			div.pagelist(style="padding:50px")
				a(href="/html/main.html") Главная страница
				a(href="/html/about.html") О компании
				a(href="/html/catalog.html") Каталог
				a(href="/html/inform.html") Информация
				a(href="/html/product.html") Карточка товара
				a(href="/html/shops.html") Адреса магазинов
				a(href="/html/contacts.html") Контакты
				a(href="/html/news.html") Новости
				a(href="/html/news-inner.html") Новости скидка
				a(href="/html/404.html") 404 страница ошибок
				a(href="/html/brands.html") Бренды
				a(href="/html/profile.html") Профиль
				a(href="/html/basket.html") Корзина
				a(href="/html/bonus.html") БОНУСНАЯ ПРОГРАММА ПРИВЕЛЕГИЙ
				a(href="/html/order.html") Оформление заказа
				a(href="/html/order1.html") 1. Оформление заказа - самовывоз- магазин не выбран
				a(href="/html/order2.html") 2. Оформление заказа - самовывоз- магазин выбран
				a(href="/html/order3.html") 3. Оформление заказа - курьерская доставка
				a(href="/html/order4.html") 4. Оформление заказа - курьерская доставка
				a(href="/html/order5.html") 5. состояние для баллов и купонов + ошибка - десктоп
				

	style.
		.pagelist a{
			display:block;
			padding:5px 0;
		}













		