extends layouts/default

block pageVar
	-pageTitle = 'Информация';

block content
	.page-container
		+breadcrumbs({path:[
			{title:'главная', href:'/html/main.html'},
			{title:'страница с текстовой информацией', href:''}
      ]})
		.content-wrapper
			.b-info-page
				.b-info-page__list
					div.b-info-page__item.active
						a(href="#") О компании
					div.b-info-page__item
						a(href="#") Программа лояльности
					div.b-info-page__item
						a(href="#") Контакты

				.b-info-content
					h1.b-info__title Страница с текстовой информацией

					h2.b-info__subtitle Доставка заказа
					nav
						ol.b-info-content__list
							li Cпособы, а также примерные сроки доставки Товаров, реализуемых COOK HOUSE, указаны на Сайте в разделе «Доставка и оплата» по адресу cookhouse.ru/delivery/. Конкретные сроки доставки могут быть согласованы Покупателем с оператором Call-центра при подтверждении заказа.
							
							li Территория доставки Товаров, представленных на Сайте и реализуемых COOK HOUSE, ограничена пределами Российской Федерации.

							li Задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.

							li При доставке Заказ вручается Покупателю либо третьему лицу, указанному в Заказе в качестве получателя (далее Покупатель и третье лицо именуются «Получатель»). При невозможности получения Заказа, оплаченного посредством наличного расчета, указанными выше лицами, Заказ может быть вручен лицу, который может предоставить сведения о Заказе (номер отправления и/или ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.

							li Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, указанных в пункте 5. настоящего Соглашения, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность Получателя, а также указать тип и номер предоставленного Получателем документа на квитанции к Заказу. Продавец гарантирует конфиденциальность и защиту персональных данных Получателя (п.9.3.).
					h2.b-info__subtitle Оплата товара
					nav
						ol.b-info-content__list

							li Цена товара, реализуемого в Интернет-магазине, указывается в рублях Российской Федерации и включает в себя налог на добавленную стоимость.

							li Цена Товара указывается на Сайте. В случае неверного указания цены заказанного Покупателем Товара, Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным. Если Заказ был оплачен, Продавец возвращает Покупателю оплаченную за Заказ сумму тем же способом, которым она была уплачена.

							li При возврате товара Бонусы, которыми товар был оплачен, возвращаются на Карту Участника.

							li Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит. Цена Товара может дифференцироваться по регионам.

							li Особенности оплаты Товара с помощью банковских карт:

								ul.b-info-content__sublist
									li В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.

									li Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами попадают под действие статьи 159 УК РФ.

									li Во избежание случаев различного рода неправомерного использования банковских карт при оплате все Заказы, оформленные на Сайте и предоплаченные банковской картой, проверяются Продавцом. В целях проверки личности владельца и его правомочности на использование карты Продавец вправе потребовать от Покупателя, оформившего такой заказ, предъявления документа, удостоверяющего личность.